<app-navbar></app-navbar>


<div class="container main-container">
    <div class="row">
        <div class="col-md-4">
            <h5>Marcador</h5>
        </div>

        <div class="col-md-8">
            <!-- this creates a google map on the page with the given lat/lng from -->
            <!-- the component as the initial center of the map: -->
            <!-- <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng"> -->
            <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="clickMapa( $event )" >
                <agm-marker *ngFor="let marcador of _ms.marcadores"
                        [latitude]="marcador.lat" [longitude]="marcador.lng" [markerDraggable]="marcador.draggable">
                    <agm-info-window> 
                        <strong>{{ marcador.titulo }}</strong>                       
                        <p *ngIf="marcador.desc">Este es Frisby</p>
                    </agm-info-window>
                </agm-marker>

            </agm-map>
        </div>
    </div>
</div>